.root {
    margin: 133px auto;
    text-align: center;
}

.title {
    color: #050510;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
}

.description {
    color: #97979B;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.try {
    color: #6534FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}