
.user {
  width: 18rem;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 22px;
  cursor: pointer;

  &__avatar {
    width: 75px;
    border-radius: 50%;
  }
  &__title {
    

      &-name {
        color: #050510;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }
      &-tag {
        color: #97979B;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
      &-department {
        color: #55555C;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-top: 3px;
      }
    }

}